<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483929051418-8j1m8umnev08pcol1pdu7q9h1ogstsia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483929051418-8j1m8umnev08pcol1pdu7q9h1ogstsia</string>
	<key>API_KEY</key>
	<string>AIzaSyCEmHr4tkKF_VVWAraBPujG4JBi714PmWA</string>
	<key>GCM_SENDER_ID</key>
	<string>483929051418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>notifyme-a6fc6</string>
	<key>STORAGE_BUCKET</key>
	<string>notifyme-a6fc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483929051418:ios:2b2f66db19322ed734dca3</string>
	<key>DATABASE_URL</key>
	<string>https://notifyme-a6fc6.firebaseio.com</string>
</dict>
</plist>